.fullscreen {
  background-color: rgba(200, 2, 2, 0.639);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 7%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.283);
  font-family: 'Jua', sans-serif;
}
.header-left{
  display: flex;
  align-items: center;
  justify-content: center;
  width:10%;
}
.header-center{
  display: flex;
  align-items: center;
  justify-content: center;
  width:80%;
}
.header-right{
  display: flex;
  align-items: center;
  justify-content: center;
  width:10%;
}

.footer{
  display: flex;
  flex-direction: low;
  align-items: ceneter;
  justify-content: center;
  width:100%;
  height: 25%;
  border-top: 1px solid rgba(0, 0, 0, 0.283);
  font-family: 'Jua', sans-serif;
  font-size: 13px;
}
.seat-container{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.283);
  background-color: white;
}
.seat-container-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 110px;
}
.seat-container-gray{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: ceneter;
  height: 55px;
}
.window{
  margin-bottom: 2%;
  display: flex;
  align-items: ceneter;
  justify-content: center;
  width: 100%;
  height: 4%;
  border: 1px solid rgba(0, 0, 0, 0.283);
  text-align: center;
  font-size: 13px;
  background-color: white;
}
.door{
  width: 100%;
  height: 10%;
  display: flex; 
  justify-content: flex-start; /* 자식 요소를 오른쪽으로 정렬합니다. */
  align-items: ceneter;
}
.door2{
  display: flex;
  align-items: ceneter;
  justify-content: center;
  width: 40%;
  height: 40%;
  border: 1px solid rgba(0, 0, 0, 0.283);
  text-align: center;
  font-size: 13px;
  background-color: white;
  margin-top: 2%;
}
.window-door-icon{
  font-size: 15px;
}
.liveinfo1{
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-left: 7%; /* 왼쪽 여백을 10px로 설정합니다 (원하는 크기로 조정 가능) */
  box-sizing: border-box; /* padding을 border-box로 지정합니다 */
  width: 50%;
}
.liveinfo2{
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-left: 10%; /* 왼쪽 여백을 10px로 설정합니다 (원하는 크기로 조정 가능) */
  box-sizing: border-box; /* padding을 border-box로 지정합니다 */
  width: 50%;
}
.table-info{
  width: 100%; 
  display: flex;
  align-items: ceneter;
  justify-content: center;
  font-family: 'Jua', sans-serif;
  font-size: 12px;
}
.seat-whe1{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.seat-whe2{
  width:10px;
  height:10px;
  margin-right: 10px; 
  margin-top: 4px;
  background-color: rgb(235, 216, 11);
  border-radius: 100%;
}
.seat-whe3{
  width:10px;
  height:10px;
  margin-right: 10px; 
  margin-top: 4px;
  background-color: rgb(200, 2, 2);
  border-radius: 100%;
}
.talking{
  font-size: 17px;
  font-weight: bold;
  color: blue;
  margin-left: 5px;
  margin-top: 0.7px;
}
.power{
  font-size: 13px;
  font-weight: bold;
  color: black;
  border: black solid;
  border-width: 1.5px;
  border-radius: 10%;
  margin-left: 5px;
  margin-top: 1px;
}
.power-lr{
  display: flex;
  justify-content: space-between;
  padding-right: 2px;
}

.Beta{
  margin-left: 5px;
  width: 80px;
  height: 27px;
  background-color: rgba(141, 136, 136, 0.283);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beta{
  font-weight: bolder;
  margin-right: 6px;
  font-size: 20px;
}
.beta2{
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
}
.copyright{
  display: flex;
  justify-content: center;
  width:100%;
  height: 5%;
  font-size: 17px;
}
.copyright2{
  position: absolute;
  top: 95%; 
  display: flex;
  justify-content: center;
  width:100%;
  height: 5%;
  font-size: 17px;
}

.select-style{
  color: black; 
  background-color: rgb(246, 240, 208); 
  font-family: 'Jua', sans-serif;
  font-size: 15px; 
  padding: 6px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.283)
}
.ctext{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 11px;
}
.ctextt{
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.cText{
  font-size: 15px;
  margin-bottom: 3px;
}